/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
  background: white;;
}

footer
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
  background: white;
}

body {
  font-family: 'Merienda', cursive;
  font-weight: undefined;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: undefined;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: undefined;
  text-decoration: none;
}

h3 {
  font-size: 18px;
  font-weight: undefined;
}

a {
  color: black;
  text-decoration: none;
  font-size: larger;
  -webkit-transition: font-weight .4s ease-in-out;
  transition: font-weight .4s ease-in-out;
}

span {
  background-color: black;
  text-shadow: lightgray;
  color:white;
}

p {
  font-size: default;
}

a:visited {
  color: white(0, 100%, 50%);
}

a:focus {
  color: white(0, 100%, 50%);
}

a:hover {
  opacity:0.1;
  -webkit-text-decoration:  underline dotted blue;
          text-decoration:  underline dotted blue;
}

a:focus {
  opacity:0.1;
  -webkit-text-decoration:  underline dotted blue;
          text-decoration:  underline dotted blue;
}

a:active {
  color: blue;
}

a:focus {
  color: blue;
}

ul {
  list-style-type: none;
}
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  color: black;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
}
.button1 {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  color: black;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
}
.button2 {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  color: black;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
}
.button3 {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  color: black;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
}
.my-input {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  color: black;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.65;
}

.button4 {
 background-color: black;
  color: white;
}

.button2:hover {
  background-color: black;;
  color: white;
  opacity: 1;
  font-size: 30px;
}

 div{
  display: block;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height:100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-bottom: 100px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.logo__img {
  width: 300px;
  height: 100px;
  -o-object-fit:none;
     object-fit:none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  color: black;
}

.navigation-list__item--active {
  text-decoration: none;
  list-style-type: none;
}

.profile {
  max-width: 800px;
  margin:0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__portrait {
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.social_icons {
  width: 50px;
  height: 50px;
}

.social-media {
  left:50px;
  top: 50px;
}

.div1 {
  display: block;
  position: sticky;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

 .grid {           /*GRID added 1.6*/
  display: -ms-grid;
  display: grid;
  margin: 2%;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}


@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .grid__item {
        background-color: lightgray;
        width: auto;
        padding: 10px;
        border-radius: 7px;
    }

    .grid__item h2 {
        margin: 0;
    }

    .grid__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
    }
}

@media all and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@-webkit-keyframes color-change {
  0% {
    fill: #d8e438;
  }
  25% {
    fill: #ffae00;
  }
  50% {
    fill: #ff0000;
  }
  75% {
    fill:hsl(320, 100%, 51%)
  }
  100% {
    fill: #0004ff;
  }
}

@keyframes color-change {
  0% {
    fill: #d8e438;
  }
  25% {
    fill: #ffae00;
  }
  50% {
    fill: #ff0000;
  }
  75% {
    fill:hsl(320, 100%, 51%)
  }
  100% {
    fill: #0004ff;
  }
}

.sun {
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(-10px, 40px);
                transform: translate(-10px, 40px);
    }
    to {
        -webkit-transform: translate(200px, 60px);
                transform: translate(200px, 60px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(-10px, 40px);
                transform: translate(-10px, 40px);
    }
    to {
        -webkit-transform: translate(200px, 60px);
                transform: translate(200px, 60px);
    }
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(200px, 48px);
                transform: translate(200px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(200px, 48px);
                transform: translate(200px, 48px);
    }
}

.cloud-front {
    -webkit-animation: 10s cloud-move infinite alternate ease-in;
            animation: 10s cloud-move infinite alternate ease-in;
}
.cloud-back {
    -webkit-animation: 10s cloud-move-reverse infinite alternate ease-in;
            animation: 10s cloud-move-reverse infinite alternate ease-in;
}
