* {                         /*added for all box elements v1.6*/
  box-sizing: border-box;
}

header, footer
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
  background: #555;
}


body {
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 18px;
  /* Sets the font size to 18px */
  line-height: 1.8;
  /* Sets the line-height 1.8 */
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-size: larger;
  transition: font-weight .4s ease-in-out;
}

span {
  background-color: rgb(0, 0, 0);
  text-shadow: lightslategray;
  color: #ffffff;
}

p {
  font-size: default;
}

a:visited, a:focus {
  /* visited link */
  color: hsl(0, 100%, 50%);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  opacity:0.1;
  text-decoration:  underline dotted hsl(249, 100%, 46%);;
}

a:active, a:focus {
  /* selected link */
  color: hsl(229, 94%, 49%);
}

ul {
  list-style-type: none;
}
                                        /*change values for the button 1.5 */
button,                                 /*added severals BUTTON to this CSS*/
.button1,
.button2,
.button3,
.my-input {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  font-size: 120%;
  /* style button */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  /* width of the border, type, color */
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  transition: 3s;
  opacity: 1;
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.65;
}

.button4 {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.button2:hover {
  background-color: #000000;
  color: white;
  opacity: 1;
  font-size: 30px;
}

 div{
  display: block;
}

.page-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-bottom: 0px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.logo__img {
  width: 300px;
  height: 100px;
  object-fit:none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  color: #000000;
}

.navigation-list__item--active {    /*for the NAV part of About, Contact etc*/
  text-decoration: none;
  list-style-type: none;            /*should erase the three DOTS but it's not doing it*/
}

.profile {
  max-width: 800px;
  margin:0 auto;
  align-items: center;
}

.profile__portrait {
  float: left;
  object-fit: cover;
  display: block;     /*necessary? v1.7*/
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
}

.social_icons {
  width: 50px;
  height: 50px;
}

.social-media {
  left:50px;
  top: 50px;
}

.div1 {
  display: block;
  position: sticky;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text {
  box-sizing: border-box;
  padding-left: 10px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 20px;
  display: inline-block;
  padding-bottom: 2.5rem;
}

.grid__item {
  background-color: lightgray;
}

.grid__item:last-child {
  grid-column: 3/3;
  grid-row: 1/3;
}

.portfolio-image {
  margin-left: 0px;
  margin-right: 20px;
}

.contact {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  border: 4px solid;
  padding: 50px;
  padding-bottom: 2.5rem;
  margin-top: 250px;
}

.work-button {
  border: none;
  font-family: inherit;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
}


@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .grid__item {
        background-color: lightgray;
        width: auto;
        padding: 10px;
        border-radius: 7px;
    }

    .grid__item h2 {
        margin: 0;
    }

    .grid__item:last-child {
        grid-column: 3/3;
        grid-row: 1/3;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@keyframes color-change {
    0% {
      fill: #d8e438;
    }
    25% {
      fill: #ffae00;
    }
    50% {
      fill: #ff0000;
    }
    75% {
      fill:hsl(320, 100%, 51%)
    }
    100% {
      fill: #0004ff;
    }
}

.sun {
    animation-duration: 6s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    /* animation: 4s color-change infinite alternate linear; */
}

@keyframes cloud-move {
    from {
        transform: translate(-10px, 40px);
    }
    to {
        transform: translate(200px, 60px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(200px, 48px);
    }
}

.cloud-front {
    animation: 10s cloud-move infinite alternate ease-in;
}
.cloud-back {
    animation: 10s cloud-move-reverse infinite alternate ease-in;
}
